* {
    font-family: 'IBM Plex Mono', monospace;
}
body {
    background-image: url("");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
#results-button {
    position: fixed; 
    top: 5px; 
    left: 5px;
}
#results-button:hover {
    opacity: 0.75;
}
button:hover {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
}
header {
    width:300px;
    margin: auto;
}
#title-container {
    text-align: center;
    margin: 20px;
}
#page-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: black;
}
main {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align:center;
    width: 450px;
    margin: auto;
}
#result-box {
    width:100%;
}
#btn-container {
    margin-top: 30px;
    width: 150px;
}
#btn-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}
#first-modal, #second-modal, #loading-modal {
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
}
#first-modal {
    z-index: 1; 
}
#second-modal {
    z-index: 2; 
    width: 450px;
}
.dataDisplay {
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}
.dataDisplay section {
    flex-direction:column;
    margin:auto;
    width:210px;
}
.dataDisplay section img{
    width:auto;
    height: 152px;
}

.radio-container {
    display: flex;
  }
  
  .radio-item {
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .radio-item label {
    display: block;
    margin-bottom: 5px;
  }
  
  .submit-container {
    margin-top: 10px;
  }


#spinner {
    width:50%;
    height:50%;
}
.centerme {
    justify-content: center;
    text-align: center;
    align-items: center;
}