/* Body Stuff */
* {
    font-family: 'IBM Plex Mono', monospace;
}
body {
    background-image: url("");
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: cover;
}

/* Top Left Result Button */
#results-button {
    position: fixed; 
    top: 5px; 
    left: 5px;
}
#results-button:hover {
    opacity: 0.75;
}
button:hover {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Header*/
header {
    width:300px;
    margin: auto;
}
#title-container {
    text-align: center;
    margin: 20px;
}
#page-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: black;
}

/*Main Area*/
main {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align:center;
    width: 450px;
    margin: auto;
}
#result-box {
    width:100%;
}
#btn-container {
    display:flex;
    margin:auto;
    margin-top: 30px;
    width: 150px;
}
#btn-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

/*Modals*/
#first-modal, #second-modal, #loading-modal {
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
}
#first-modal {
    z-index: 1; 
}
#second-modal {
    z-index: 2; 
    width: 450px;
}

/*Results Display Modal*/
.dataDisplay {
    display:block;
}
.dataDisplay section {
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}
#foodSuggest, #songSuggest {
    flex-direction: row;
    margin:auto;
    width:50%;
    padding-bottom:0px;
}
#image-container {
    flex-direction:row;
    margin:auto;
    width:100%;
}
#image-result {
    width:50%;
}

.radio-container {
    display: flex;
  }
  
  .radio-item {
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .radio-item label {
    display: block;
    margin-bottom: 5px;
  }
  
  .submit-container {
    margin-top: 10px;
  }


#spinner {
    width:80%;
    height:80%;
}
.centerme {
    justify-content: center;
    text-align: center;
    align-items: center;
}
label img {
    width:25px;
    height:25px;
}
#info-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer {
    color: white;
    position: fixed; 
    bottom: 0px; 
    left: 0px;
    width:100%;
    text-align:center;
    opacity: 0.40;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#group-name{
    font-family: 'Press Start 2P', cursive;
}
a {
    color: #cccccc;
}